{block content}
<div class="container center-align">
    <h2 class="section indigo-text">
        Přístup odepřen
    </h2>

    <div class="section flow-text">
        Pokusili jste se přistoupit k obsahu, ke kterému nemáte oprávnění.<br><br>
        Pokud si myslíte, že to není správné, kontaktujte <a href="mailto:mail@davidindra.cz">Davida Indru</a>.
    </div>
</div>