{block content}
<div class="container center-align">
    <h2 class="section indigo-text">
        Stránka nenalezena
    </h2>

    <div class="section flow-text">
        Tato stránka byla odstraněna.<br><br>
        Pokud si myslíte, že to není správné, kontaktujte <a href="mailto:mail@davidindra.cz">Davida Indru</a>.
    </div>
</div>