{block content}
<div class="container center-align">
    <h2 class="section indigo-text">
        Oops..
    </h2>

    <div class="section flow-text">
        Váš prohlížeč zaslal požadavek, kterému server nerozumí.<br><br>
        Pokud si myslíte, že to není správné, kontaktujte <a href="mailto:mail@davidindra.cz">Davida Indru</a>.
    </div>
</div>