<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Ohlášky.cz</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0">
    <link rel='shortcut icon' type='image/x-icon' href='/favicon.ico'>
    <meta name="theme-color" content="#3f51b5">

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

    <!-- MaterializeCSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>

    <!-- Materialize clockpicker -->
    <link rel="stylesheet" href="{$basePath}/css/clockpicker.css">
    <script src="{$basePath}/js/clockpicker.js"></script>

    <!-- Custom -->
    <link rel="stylesheet" href="{$basePath}/css/style.css">
    <script src="{$basePath}/js/script.js"></script>
</head>

<body>

<nav role="navigation" class="indigo">
    <div class="nav-wrapper container">
        <a n:href="Homepage:" id="logo-container" class="brand-logo">
            <i class="small material-icons hide-on-small-only">comment</i> Ohlášky.cz
        </a>

        <a href="#" data-activates="nav-mobile" class="button-collapse">
            <i class="material-icons">menu</i>
        </a>

        <ul class="right hide-on-med-and-down">
            {block menuitems}
                <li n:class="$presenter->name == 'Homepage' ? active" n:if="!$user->isLoggedIn()">
                    <a n:href="Homepage:">
                        Hlavní stránka
                    </a>
                </li>
                <li n:class="$presenter->name == 'Church' ? active">
                    <a n:href="Church:list">
                        Kostely
                    </a>
                </li>
                <li n:class="$presenter->name == '' ? active">
                    <a n:href="Church:list">
                        Mše
                    </a>
                </li>
                <li n:class="$presenter->name == '' ? active">
                    <a n:href="Church:list">
                        Kněží
                    </a>
                </li>
                <li n:class="$presenter->name == '' ? active" n:if="$user->isLoggedIn()">
                    <a n:href="Church:list">
                        <b>Tisk</b>
                    </a>
                </li>
                <li n:class="$presenter->name == '' ? active" n:if="$user->isInRole('admin')">
                    <a n:href="Church:list">
                        <b>Admin</b>
                    </a>
                </li>
                <li>
                    {if $user->isLoggedIn()}
                        <a n:href="Homepage:signOut">
                            <b>Odhlásit se</b> ({$user->identity->data['fullname']})
                        </a>
                    {else}
                        <a href="#login" class="modal-trigger">
                            Přihlásit se
                        </a>
                    {/if}
                </li>
            {/block}
        </ul>

        <ul class="side-nav" id="nav-mobile">
            <li class="black-text" style="padding: 0 16px; font-weight: bold;">
                Menu
                <ul>
                    {include menuitems}
                </ul>
            </li>
        </ul>
    </div>
</nav>

<div id="login" class="modal" n:if="!$user->isLoggedIn()">
    <div class="modal-content">
        <h4 class="center-align">Přihlášení</h4>
        <p>
            {import './components/signInForm.latte'}
            {include form signInForm}
        </p>
    </div>
    <div class="modal-footer hide">
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Přihlásit</a>
    </div>
</div>

<script type="text/javascript" n:if="!empty($flashes)">
    {foreach $flashes as $flash}
    Materialize.toast({$flash->message}, 3000, 'rounded');
    {/foreach}
</script>

<main>
    {include content}
</main>

<footer class="page-footer indigo" style="padding-top: 0;">
    <div class="footer-copyright">
        <div class="container hide-on-small-only">
            Správa a tvorba webu <a class="white-text" href="https://davidindra.cz">David Indra</a> &copy; 2016
            | aktuální data díky našim ochotným kněžím
        </div>
        <div class="container center-align show-on-small-only">
            Správa a tvorba webu <a class="white-text" href="https://davidindra.cz">David Indra</a> &copy; 2016
        </div>
    </div>
</footer>

</body>
</html>
