<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Ohlášky.cz</title>

	<meta name="viewport" content="width=device-width">

	<!-- Custom CSS -->
	<link rel="stylesheet" href="{$basePath}/css/style.css">

	<!-- Custom JS -->
	<script src="{$basePath}/js/main.js"></script>

	<!-- MaterializeCSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">

	<!-- MaterializeJS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
</head>

<body>
	{include content}
</body>
</html>
