<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Ohlášky.cz</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0">

	<!-- jQuery -->
	<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>

	<!-- Custom CSS -->
	<link rel="stylesheet" href="{$basePath}/css/style.css">

	<!-- Custom JS -->
	<script src="{$basePath}/js/script.js"></script>

	<!-- MaterializeCSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

	<!-- MaterializeJS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
</head>

<body>
	{include content}
</body>
</html>
