{block content}
<div class="section container">

    <h4 class="indigo-text" n:block="title">Přihlášení</h4>

    <p>
        {import '../components/signInForm.latte'}
        {include form signInForm}
    </p>

    <!--<a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Přihlásit</a>-->

</div>
