{block content}
<div class="section container">

    <h3 class="indigo-text" n:block="title">Administrace</h3>

    <p>
    <a n:href="cleanCache!" class="btn">Vyprázdnit cache</a>

    <p>
    <a n:href="addUser! 'admin', 'test', 'admin'" class="btn">Přidat administrátora admin/test</a>
    <a n:href="addUser! 'cap', 'capcap'" class="btn">Přidat uživatele cap/capcap</a>
</div>
