{block content}

<div class="section container">
    <h4 class="indigo-text" n:block="title">
        Liturgické texty
    </h4>

    <div class="flow-text center-align">
        Prozatím nelze upravovat liturgické texty. Již brzy! ;)
    </div>
</div>
