* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font: 13pt 'Roboto', 'Times New Roman', sans-serif;
  cursor: default;
}

@page {
  size: A4;
  margin: 1cm;
}

@media print {
  html, body {
    width: 210mm;
    height: 297mm;
  }

  .page {
    margin: 0;
    border: initial;
    border-radius: initial;
    width: initial;
    min-height: initial;
    box-shadow: initial;
    background: initial;
    page-break-after: always;
  }
}

div {
  &.heading, &.subheading, &.subheading2 {
    text-align: center;
  }

  &.heading {
    font-weight: bold;
    font-size: 2rem;
  }

  &.subheading {
    font-size: 1.3rem;
  }

  &.subheading2 {
    font-size: 1.1rem;
  }

  &.no-masses {
    text-align: center;
    margin: 2rem 0;
    font-style: italic;
  }
}

table.masses {
  width: 100%;
  margin: 1rem 0;
  border: 1px solid black;
  border-collapse: collapse;

  td, th {
    padding: 0.5rem;
    border: 1px solid black;
  }

  th {
    background-color: #bcbcbc;
  }

  tr {
    &:nth-child(even){
      background-color: #e9e9e9;
    }
  }
  
  td {
    text-align: center;

    &[rowspan] {
      background-color: white;
    }

    &.date, &:first-child {
      .liturgy {
        font-size: 0.8rem;
        font-style: italic;
      }
    }

    /*&.date-empty {
      background-color: white;
    }*/

    &.time {

    }

    &.place {

    }

    &.intention {
      width: 60%;
      text-align: left;
    }
  }
}

div.announcements {
  text-align: justify;

  div {
    margin: 0 1rem;
    padding: 0.7rem 0rem;
    border-bottom: 1px solid #7c7c7c;

    &:last-child{
      border-bottom: none;
    }
  }
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0rem;
  text-align: center;

  font-size: 0.7rem;
  color: #727272;

  img {
    height: 1em;
    width: auto;
    vertical-align: middle;
  }

  a {
    color: inherit;
    text-decoration: none;
    font-weight: bold;
  }
}
