body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  cursor: default;
}

main {
  flex: 1 0 auto;
}

.churches tr {
  cursor: pointer;
}

div.flexible {
  height: auto;
}

.bold {
  font-weight: bold;
}

.masses .add {
  td {
    padding: 5px;
  }

  input {
    margin: 0;
  }

  input[name=date]{
    width: 16ex;
    cursor: pointer;
  }

  input[name=time]{
    width: 8ex;
    cursor: pointer;
  }

  input[name=highlight]{

  }

  label[for=highlight]{
    padding-left: 25px;
  }

  input[name=intention]{
    width: 76%;
  }

  input[name=submit]{
    float: right;
    width: 23%;
    height: 3rem;
  }
}

.collection-item {
  .announcement {
    word-break: break-word;
  }

  .maintain {
    /*position: absolute;
    right: 0;
    top: 0;
    bottom: auto;*/
    float: right;
  }

  .row {
    margin-bottom: 0;
  }

  textarea {
    margin-bottom: 0;
  }

  input[type=submit] {
    float: right;
  }
}