body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  cursor: default;
}

main {
  flex: 1 0 auto;
}

#ajax-spinner {
  position: absolute;
  top: 7em;
  right: 3em;
  width: 2em;
  height: 2em;

  border: .266em solid #f3f3f3; /* Light grey */
  border-top: .266em solid #3f51b5; /* Blue */
  border-radius: 50%;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.churches {
  tr {
    cursor: pointer;
  }

  th {
    cursor: default;
    white-space: nowrap;

    &:first-of-type {
      width: 30%;
    }
  }

  td {
    &.church, &.location {
      white-space: nowrap;
    }

    &.church a {
      color: inherit !important;
    }
  }
}

div.flexible {
  height: auto;
}

.valign-top {
  vertical-align: top;
}

.bold {
  font-weight: bold;
}

.middle {
  //vertical-align: -webkit-baseline-middle;
  vertical-align: sub;
}

.masses {
  td {
    vertical-align: top;

    &.date, &.time {
      line-height: 1.7em;
      white-space: nowrap;
    }

    &.liturgy {
      width: 16%;
    }

    &.church {
      white-space: nowrap;
    }

    &.intention {

    }

    &.maintain {
      float: right;
      white-space: nowrap;
    }

    &.more {
      padding: 5px;

      a.btn {
        width: 100%;
      }
    }
  }

  td.time, th.time {
    text-align: right;
    padding-right: 20px;
  }

  tr {
    &.past {
      opacity: 0.6;
    }

    /*&:last-child {
      border-bottom: none;
    }*/
  }

  .add {
    td {
      padding: 5px;

      &:last-of-type {
        float: right;
      }
    }

    input {
      margin: 0;
      border-bottom: none;
    }

    input[name=date] {
      width: 16ex;
    }

    input[name=time] {
      width: 8ex;
      text-align: right;
      float: right;
      margin-right: 15px;
    }

    input[name=highlight] {

    }

    label[for=highlight] {
      margin-top: 10px;
      padding-left: 25px;
    }

    input[name=intention] {
      width: 100%;
    }

    input[name=send] {
      margin: 4px 0;
    }
  }
}

.datepicker, .timepicker {
  cursor: text !important;
}

.picker--opened .picker__frame {
  top: 1%;
}

.picker__day--selected {
  border-radius: 10% !important;
}

.collection .collection-item {
  padding-right: 10px;

  .announcement {
    word-break: normal;
  }

  .maintain {
    /*position: absolute;
    right: 0;
    top: 0;
    bottom: auto;*/
    float: right;
    margin-top: -4px;
  }

  .row {
    margin-bottom: 0;
  }

  textarea {
    height: 30px;
    padding: 6px 0 0 0;
    min-height: 30px;
    margin-bottom: 0;
    border-bottom: none;
  }

  input[type=submit] {
    float: right;
  }
}

.liturgy {
  td {
    vertical-align: middle;

    &.date {
      line-height: 1.7em;
      white-space: nowrap;
    }

    &.intention {

    }

    &.maintain {
      float: right;
      white-space: nowrap;
    }
  }

  tr {
    /*&:last-child {
      border-bottom: none;
    }*/
  }

  .add {
    td {
      padding: 5px;

      &:last-of-type {
        float: right;
      }

      &.fullwidth {
        float: none;

        a.btn {
          width: 100%;
        }
      }
    }

    input {
      margin: 0;
      border-bottom: none;
    }

    input[name=date] {
      width: 100%;
    }

    input[name=description] {
      width: 100%;
    }

    input[name=send] {
      margin: 4px 0;
    }
  }
}