body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  cursor: default;
}

main {
  flex: 1 0 auto;
}

.churches {
  tr {
    cursor: pointer;
  }

  th {
    cursor: default;
  }
}

div.flexible {
  height: auto;
}

.bold {
  font-weight: bold;
}

.middle {
  //vertical-align: -webkit-baseline-middle;
  vertical-align: sub;
}

.masses {
  td {
    &.date {
      line-height: 1.7em;
    }

    &.intention {

    }

    &.maintain {
      white-space: nowrap;
    }

    &.more {
      padding: 5px;

      a.btn {
        width: 100%;
      }
    }
  }

  tr:last-child {
    border-bottom: none;
  }

  .add {
    td {
      padding: 5px;
    }

    input {
      margin: 0;
    }

    input[name=date] {
      width: 16ex;
      cursor: pointer;
    }

    input[name=time] {
      width: 8ex;
      cursor: pointer;
    }

    input[name=highlight] {

    }

    label[for=highlight] {
      padding-left: 25px;
    }

    input[name=intention] {
      width: 76%;
    }

    input[name=send] {
      float: right;
      width: 23%;
      margin: 4px 0;
    }
  }
}

.picker--opened .picker__frame {
  top: 1%;
}

.collection .collection-item {
  padding-right: 10px;

  .announcement {
    word-break: normal;
  }

  .maintain {
    /*position: absolute;
    right: 0;
    top: 0;
    bottom: auto;*/
    float: right;
    margin-top: -4px;
  }

  .row {
    margin-bottom: 0;
  }

  textarea {
    height: 30px;
    padding: 6px 0 0 0;
    min-height: 30px;
    margin-bottom: 0;

  }

  input[type=submit] {
    float: right;
  }
}
